/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== button.css =====================================================
  == Styles used by the React/HTML button element.
  ======================================================================= */

/* :::::::::: button :::::::::: */

button {
    -moz-appearance: button;
    margin: 1px 5px 2px;
    min-width: 6.3em;
    color: ButtonText;
    text-align: center;
    text-shadow: none;
}

button > u {
    color: inherit;
    font: inherit;
}

.button-box {
    -moz-appearance: button-focus;
}

/* .......... hover state .......... */

button:hover:not(:-moz-any(:active, [disabled], [open], [checked])) {
    color: -moz-buttonhovertext;
}

/* .......... disabled state .......... */

button[disabled="true"] {
    color: GrayText;
}

/* ::::: menu/menu-button buttons ::::: */

button[type="menu-button"] {
    -moz-appearance: dualbutton;
}

/* ::::: plain buttons ::::: */

button[type="disclosure"] {
    margin: 0;
    -moz-appearance: none;
    list-style-image: url("chrome://global/skin/tree/twisty-clsd.png");
    min-width: 0;
}

button[type="disclosure"][open="true"] {
    list-style-image: url("chrome://global/skin/tree/twisty-open.png");
}
