input[type="checkbox"] {
  -moz-box-align: center;
  -moz-appearance: checkbox;
  -moz-user-focus: normal;
}

input[type="checkbox"]:hover:not([disabled="true"]) {
  color: -moz-buttonhovertext;
  text-shadow: none;
}

input[type="checkbox"] + label {
  vertical-align: text-bottom;
}
