.tab {
  position: relative;
  -moz-appearance: tab;
  margin-top: 2px;
  border: 2px solid;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: currentcolor;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-left-colors: none;
  border-bottom: none;
  -moz-border-top-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDHighlight ThreeDLightShadow;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding: 3px 4px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: -moz-Dialog;
  color: -moz-DialogText;
  text-transform: capitalize;
}

.tab.selected {
  z-index: 1;
  margin-top: 0;
  margin-bottom: -2px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.tabbox {
  padding: 15px;
  -moz-appearance: dialog;
  background-color: -moz-Dialog;
  color: -moz-DialogText;
  font: message-box;
}
 
.tabpanel:not(.single-tab) {
  -moz-appearance: tabpanels;
  padding: 18px 10px 10px;
}

.tabstrip {
  display: flex;
}