textarea {
  -moz-appearance: textfield;
  cursor: text;
  /* margin: 2px 4px; */
  padding: 2px 2px 3px;
  padding-inline-start: 4px;
  /* background-color: -moz-Field; */
  color: -moz-FieldText;
}
