.wrapper {
  box-shadow: 0 10px 30px 0 rgba(46, 61, 73, .35);
  max-width: 500px;
  margin: 10vh auto 0;
  width: calc(100% - 50px);
  padding: 15px;
  height: 200px;
}

/*** Above styles are just to make the dialogs look good ***/

#alarm-dialog-content-box {
  display: flex;
  flex-direction: column;
}

#alarm-action-box {
  padding-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.alarm-dialog-richlistbox {
  flex: 1;
}

/* Alarm widget specific styles */
.calendar-alarm-widget {
  border-bottom: 1px dotted ThreeDShadow;
  padding: 6px 7px;
}

.calendar-alarm-widget[selected="true"] {
  background-color: Highlight;
  color: HighlightText;
  padding: 0 5px;
}

.calendar-alarm-widget[selected="true"] .alarm-title-label {
  font-weight: bold;
}

.calendar-alarm-widget[selected="true"] .alarm-action-buttons {
  display: -moz-box;
}

.calendar-alarm-widget[selected="true"] > hbox {
  margin: 5px;
}

.calendar-alarm-widget[selected="true"] .alarm-relative-date-label,
.additional-information-box,
.alarm-action-buttons {
  display: none;
}

.calendar-alarm-widget[selected="true"] .additional-information-box,
.calendar-alarm-widget[selected="true"] .action-buttons-box {
  display: -moz-box;
}

.alarm-details-label {
  color: HighlightText;
  text-decoration: underline;
}

.calendar-alarm-widget[selected="true"] .alarm-calendar-image {
  list-style-image: url(chrome://calendar/skin/cal-icon32.png);
}
