/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.wrapper {
    box-shadow: 0 10px 30px 0 rgba(46, 61, 73, .35);
    max-width: 500px;
    margin: 10vh auto 0;
    width: calc(100% - 50px);
    padding: 15px;
    height: 300px;
}

/*** Above styles are just to make the dialogs look good ***/

#alarm-dialog-content-box {
    display: flex;
    flex-direction: column;
}

#alarm-action-box {
    padding-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.alarm-dialog-richlistbox {
    flex: 1;
}

.calendar-alarm-widget {
    display: flex;
}

.alarm-calendar-image {
    width: 40px;
    height: 40px;
}

.alarm-description {
    flex: 1;
}

.calendar-alarm-widget p {
    line-height: 1;
    margin: 5px 2px;
}

.alarm-action-buttons {
    display: flex;
    flex-direction: column;
    align-self: center;
}

/* Alarm widget specific styles */
.calendar-alarm-widget {
    border-bottom: 1px dotted ThreeDShadow;
    padding: 6px 7px;
}

.calendar-alarm-widget[selected="true"] {
    background-color: Highlight;
    padding: 0 5px;
}

.calendar-alarm-widget[selected="true"] p {
    color: HighlightText;
}

.calendar-alarm-widget[selected="true"] .alarm-title-label {
    font-weight: bold;
}

.calendar-alarm-widget[selected="true"] .alarm-action-buttons {
    display: flex;
}

.calendar-alarm-widget[selected="true"] > hbox {
    margin: 5px;
}

.calendar-alarm-widget[selected="true"] .alarm-relative-date-label,
.additional-information-box,
.alarm-action-buttons,
.alarm-calendar-image-wrapper {
    display: none;
}

.calendar-alarm-widget[selected="true"] .alarm-calendar-image-wrapper {
    display: block;
}

.calendar-alarm-widget[selected="true"] .additional-information-box {
    display: block;
}

.calendar-alarm-widget[selected="true"] .action-buttons-box {
    display: flex;
}

.alarm-details-label {
    color: HighlightText;
    text-decoration: underline;
}

.calendar-alarm-widget .alarm-details-label {
    display: none;
}

.calendar-alarm-widget p:empty {
    display: none;
}

.alarm-snooze-button {
    -moz-appearance: menulist;
}

#dismiss-all {
    align-self: flex-start;
}

.snooze-button-wrapper {
    position: relative;
}

.snooze-button-dropdown {
    -moz-appearance: menupopup;
    position: absolute;
}

.dropdown-item {
    -moz-appearance: menuitem;
}

.dropdown-item.manual-time-setter {
    display: flex;
    -moz-appearance: none;
    padding: 6px;
}

.dropdown-item.manual-time-setter input[type="number"] {
    width: 60px;
    text-align: right;
}