#root {
  max-width: 650px;
  margin: auto;
}

.window {
  box-shadow: 0 10px 30px 0 rgba(46, 61, 73, .35);
  max-width: 500px;
  margin: 10vh auto 0;
  width: calc(100% - 50px);
  padding: 15px;
  height: 300px;
}

/*** Above styles are just to make the dialogs look good ***/

.same-row {
  display: flex;
}

.same-row > .row {
  flex: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.same-row > .row:first-child {
  margin-left: 0;
}

.same-row > .row:last-child {
  margin-right: 0;
}

.row > .row-label {
  min-width: 60px;
}