/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html {
    font: message-box;
    letter-spacing: 2px;
    word-spacing: 7px;
    height: 100%;
    color: -moz-DialogText;
}

a {
    color: inherit;
    text-decoration: none;
}

a:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0 0 50px;
}

.warning {
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
    background: #333;
    color: white;
    text-align: center;
    visibility: hidden;
    height: 0;
    margin-bottom: 50px;
}

.warning.active {
    height: auto;
    visibility: visible;
    padding: 10px 15px;
    margin-bottom: 50px;
    line-height: 2;
}

.container {
    padding: 0 35px;
    display: flex;
    justify-content: center;
    max-width: 980px;
    margin: auto;
    flex-wrap: wrap;
}

.intro {
    flex: 1;
    padding-right: 25px;
    margin-right: 25px;
}

.introDesc * {
    font-size: 14px;
    color: #777;
    line-height: 2;
    letter-spacing: 0;
}

.intro h1 {
    font-size: 24px;
    color: #333;
}

.intro h2 {
    font-size: 18px;
    color: #333;
    margin-top: 50px;
}

.introDesc blockquote {
    border-left: solid 4px #666;
    padding: 10px 30px 10px 30px;
    font-style: italic;
    margin: 15px 0;
    background: rgba(0, 0, 0, .01);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.intro a {
    color: rgba(3, 102, 214, 0.7);
    border-bottom: solid 2px;
    border-color: transparent;
    transition: border-color 100ms linear;
    font-weight: bold;
}

.intro i {
    color: #333;
    font-weight: 600;
}

.intro a:hover {
    border-color: rgba(3, 102, 214, 0.7);
}

.introHeader {
    overflow: auto;
    border-bottom: solid 3px;
    margin-bottom: 30px;
}

#dialogslist {
    box-shadow: 0 10px 30px 0 rgba(46, 61, 73, .35);
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    overflow: hidden;
    flex: 0 1 325px;
    align-self: flex-start;
    max-height: 73vh;
}

.footer {
    width: 100%;
    margin-top: 50px;
    padding-top: 20px;
    border-top: solid 1px #ddd;
}

.footer p {
    margin: 0;
    font-size: 12px;
}

.footer a {
    text-transform: uppercase;
    font-weight: 800;
    border-bottom: solid 2px transparent;
    transition: border-color 100ms linear;
}

.footer a:hover {
    border-color: #333;
}

.footer p i {
    float: right;
}

h5 {
    font-size: 14px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    margin: 0;
}

.list {
    border-bottom: 1px solid #ccc;
    padding: 10px 0 10px 0;
}

.sl {
    text-align: center;
}
/*
.sl:hover {
    cursor: pointer;
} */

h5 > a {
    transition: opacity .1s;
    text-decoration: none;
    /* color: -moz-DialogText; */
}

h5 > a:hover, button:hover {
    opacity: .75;
    cursor: pointer;
}

.iframe-btn-wrapper {
    width: 100%;
}

.tags {
    margin: auto;
    padding: 0 10px;
}

.tag, .bug {
    border: solid 1px;
    border-radius: 5px;
    font-size: 10px;
    white-space: nowrap;
    padding: 2px 5px;
    color: rgba(170, 170, 170, 0.6);
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
}

.tag:hover {
    cursor: default;
}

.bugs {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bug {
    margin-bottom: 0;
    background: rgb(51, 51, 51);
    color: #fff;
    font-weight: 700;
    border: none;
    opacity: .9;
    transition: opacity 100ms linear;
    font-size: 12px;
    padding: 6px 9px;
}

.bug:hover {
    opacity: .75;
}

a {
    color: inherit;
}

.count {
    background: #eee;
    padding: 3px 5px;
    border-radius: 10px;
    text-align: center;
}

.listheader, .iframe-btn-wrapper {
    background: rgba(243, 244, 246, 0.3);
}

.iframe-btn-wrapper {
    border-top: 1px solid #ccc;
}

.listheader {
    border-bottom: 1px solid #ccc;
}

.iframe-btn-wrapper h5 {
    padding: 15px 10px;
    color: rgba(3, 102, 214, 0.7);
    border-bottom: solid 3px;
    border-radius: 4px;
    transition: transform .2s ease, color .2s ease;
    border-color: transparent;
}

.list h5 {
    color: rgba(3, 102, 214, 0.7);
}

.list:hover {
    background: #fdfdfd;
}

.svgicon svg {
    height: 20px;
    width: 23px;
    vertical-align: middle;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.iframe-btn-wrapper h5:hover .svgicon svg {
    animation: spin infinite 1.5s ease;
}

.iframe-btn-wrapper h5:hover {
    border-color: rgba(3, 102, 214, 0.7);
}

.lists {
    overflow: auto;
}

.list.last {
    border: none;
}

.listheader > h5 {
    padding-bottom: 0;
}

.otherLinks {
    padding: 15px 100px;
    display: flex;
    justify-content: center;
}

.otherLinks > div {
    flex: 1;
    text-align: center;
}

.otherLinks a {
    margin: 0 15px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    padding: 3px 0;
    /* background: rgba(0, 0, 0, .3); */
    border-bottom: solid 2px transparent;
    color: rgba(153, 153, 153, 0.7);
    transition: border-color .2s ease, color .2s ease;
}

.otherLinks a:hover {
    border-color: inherit;
    color: inherit;
}

@media screen and (max-width: 750px) {
    .container {
        padding: 0 25px;
        flex-direction: column;
    }
    #dialogslist {
        order: 1;
        align-self: center;
        margin-bottom: 50px;
        flex-basis: 400px;
        width: 100%;
    }

    .otherLinks > div:first-child {
        text-align: right;
    }
    .otherLinks > div:last-child {
        text-align: left;
    }

    .otherLinks {
        padding-left: 0;
        padding-right: 0;
    }

    .intro {
        order: 2;
        margin: 0;
        padding: 0;
    }
    .footer {
        order: 3;
    }

    .footer p {
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
    }

    .footer p span {
        margin-bottom: 15px;
    }
}
