.wrapper {
  background: #fbfbfb;
  box-shadow: 0 10px 30px 0 rgba(46,61,73,.35);
  max-width: 500px;
  margin: 10vh auto 0;
  width: calc(100% - 50px);
}

.dialog-content-box {
  padding: 15px;
}

/*** Above styles are just to make the dialogs look good ***/

.row {
  display: flex;
  padding: 3px 0;
}

.row label, .row input[type="checkbox"] {  
  margin: auto 5px auto 0
}

.row > .row-label {
  width: 95px;
}

.row > .row-input {
  flex:1;
  padding:2px 2px 3px;
}

#calendar-readOnly-row > div,
#calendar-suppressAlarms-row > div {
  /** label width + label margin **/
  margin-left: 100px;
  display: flex;
} 

#calendar-color {
  flex: none;
  width: 50px;
  padding: 2px 0;
  height: 28px;
}